/* Overall styling ------------------------------------------------------------------ */

:root {
    --grey: #ecebeb;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--grey);
}

#overall {
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Banner ------------------------------------------------------------------ */

.logo-and-summary {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#logo {
    margin-left: 0px;
    width: 500px;
    flex: 0.1;
}

#expt-summary {
    margin-left: 20px;
    flex: 0.9;
}


/* Mapping Section ------------------------------------------------------------------ */

.samples-row {
    padding: 20px;
    margin: 20px;
    border-color: var(--grey);
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.samples-plots {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#samples-pie {
    flex: 0.25;
}

#samples-barplot {
    flex: 0.75;
}

/* BED Coverage Section ------------------------------------------------------------------ */

.bedcov-row {
    padding: 20px;
    margin: 20px;
    border-color: var(--grey);
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.bedcov-plots {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#bedcov-pie {
    flex: 0.25;
}

#bedcov-strip {
    flex: 0.75;
}


/* Depth Section ------------------------------------------------------------------ */

.depth-row {
    padding: 20px;
    margin: 20px;
    border-color: var(--grey);
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.depth-plots {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#depth-hist {
    flex: 0.4;
}

#depth-line {
    flex: 0.6;
}


/* Variant Section ------------------------------------------------------------------ */

.variant-row {
    padding: 20px;
    margin: 20px;
    border-color: var(--grey);
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.variant-plots {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#variant-heat {
    flex: 1.0;
}

/* Footer ------------------------------------------------------------------ */

.footer {
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: right;
}

