/* Overall styling ------------------------------------------------------------------ */

:root {
    --grey: #ecebeb;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--grey);
}

#overall {
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Banner ------------------------------------------------------------------ */

.logo-and-summary {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#logo {
    margin-left: 0px;
    width: 500px;
    flex: 0.1;
}

#throughput-summary {
    margin-left: 20px;
    flex: 0.9;
}

/* Samples Section ------------------------------------------------------------------ */
.samples-row {
    padding: 20px;
    margin: 20px;
    border-color: var(--grey);
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.samples-plots {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#samples-pie {
    flex: 0.25;
}

#samples-barplot {
    flex: 0.75;
}


/* Quality Section ------------------------------------------------------------------ */

.quality-row {
    padding: 20px;
    margin: 20px;
    border-color: var(--grey);
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.quality-plots {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#quality-heat {
    flex: 1.0;
}

/* Prevalence Section ------------------------------------------------------------------ */

.prevalence-radio-row {
    display: flex;
    gap: 1rem;
}

.prevalence-radio-input {
  display: none; /* hide the native radio */
}

.prevalence-radio-label {
  padding: 0.2rem 0.6rem;
  border: 1px solid #4442b8;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  user-select: none;
}

/* Highlight when selected */
.prevalence-radio-label:has(input:checked) {
  background-color: #4442b8;
  color: white;
  border-color: #4442b8;
}

/* Optional hover effect */
.prevalence-radio-label:hover {
  background-color: #e8f5e9;
}

.prevalence-row {
    padding: 20px;
    margin: 20px;
    border-color: var(--grey);
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.prevalence-plots {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#prevalence-bars {
    flex: 1.0;
}



/* Footer ------------------------------------------------------------------ */

.footer {
    padding: 0px 20px;
    margin: 0px 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: right;
}