/* Overall styling ------------------------------------------------------------------ */

:root {
    --grey: #ecebeb;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--grey);
}

#overall {
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Banner ------------------------------------------------------------------ */

.logo-and-summary {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#logo {
    margin-left: 0px;
    width: 500px;
    flex: 0.1;
}

#throughput-summary {
    margin-left: 20px;
    flex: 0.9;
}

/* Samples Section ------------------------------------------------------------------ */
.samples-row {
    padding: 20px;
    margin: 20px;
    border-color: var(--grey);
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.samples-plots {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#samples-pie {
    flex: 0.25;
}

#samples-barplot {
    flex: 0.75;
}


/* Quality Section ------------------------------------------------------------------ */

.quality-row {
    padding: 20px;
    margin: 20px;
    border-color: var(--grey);
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.quality-plots {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.quality-dropdowns {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
}

#quality-heat {
    flex: 1.0;
}

/* Prevalence Section ------------------------------------------------------------------ */
.prevalence-row {
    padding: 20px;
    margin: 20px;
    border-color: var(--grey);
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.prevalence-dropdowns {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
}

.prevalence-plots {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#prevalence-bars {
    flex: 1.0;
}

.prevalence-by-row {
    padding: 20px;
    margin: 20px;
    border-color: var(--grey);
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.map-dropdowns {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
}

/* Footer ------------------------------------------------------------------ */

.footer {
    padding: 0px 20px;
    margin: 0px 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: right;
}