#overall {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

.logo-and-summary {
    display: flex;
    flex-direction: row;
}

#logo {
    margin-left: 0px;
    width: 500px;
    flex: 0.1;
}

#expt-summary {
    margin-left: 20px;
    flex: 0.9;
}

#table {
    padding: 20px;
    width: 400px;
}


.middle-row {
    border: 3px solid gainsboro;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.mapping-plots {
    display: flex;
    flex-direction: row;
}

#mapping-pie {
    flex: 0.25;
}

#mapping-barplot {
    flex: 0.75;
}


.bottom-row {
    border: 3px solid gainsboro;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.region-plots {
    display: flex;
    flex-direction: row;
}

#bedcov-pie {
    flex: 0.25;
}

#bedcov-strip {
    flex: 0.75;
}
